
.login-form {
    .content{
    
        width: 450px;
        height: 400px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, .1), 4px 8px 16px rgba(0, 0, 0, .1);
        box-sizing: border-box;

        .title-content{
            text-transform: uppercase;
            font-weight:900;
            color: #0866ff;
        }
    }
}




